body {
    padding-bottom: 60px;
    background-color: #f8f9fa;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 180px;
}
